# ==========================================
# Python
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# ==========================================
# Environments
# ==========================================
.venv/
env/
venv/
ENV/
.ipynb_checkpoints/
.env
.envrc

# ==========================================
# OS & Editor
# ==========================================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# ==========================================
# Logs / Cache / Outputs
# ==========================================
*.log
wandb/
logs/
outputs/
!outputs/structure_check/
!outputs/structure_check/summary_final.md

checkpoints/
tmp/
cache/
*.pth
*.ckpt

# ==========================================
# Data
# ==========================================
data/raw/
data/interim/
data/processed/
!data/data_list.csv  # 메타데이터 파일만 추적

# ==========================================
# Model Artifacts
# ==========================================
runs/
models/
*.onnx

# ==========================================
# FAISS / Vector Store
# ==========================================
*.faiss
*.pkl
*.bin
index_store/
faiss_index/
chroma/

# ==========================================
# Jupyter / Reports
# ==========================================
.ipynb_checkpoints/
notebooks/
reports/

# ==========================================
# Other
# ==========================================
__MACOSX/


!outputs/structure_check/summary_final.md
